---
import Feature from './Feature.astro'
---

<div class="py-10 sm:p-10 md:p-20 md:py-32 bg-blue-500">
  <div class="mx-auto max-w-6xl grid grid-cols-1 md:grid-cols-4 gap-4">
    <Feature text="Free Consultation" classStyle="bg-blue-200" />
    <Feature text="Modern Tech Stach(React, Next, Express and more)" classStyle="bg-sky-100" />
    <Feature text="AI powered" classStyle="bg-sky-100" />
    <Feature text="Passionate for building and innovating" classStyle="bg-sky-200" />
  </div>
</div>
