---
// Box.astro
export interface Props {
  text: string;
  classStyle?: string
  icon?: any;
}
const { text, classStyle, icon } = Astro.props as Props;
---

<div class={`p-4 h-full md:h-40 text-center rounded-sm flex items-center ${classStyle}`}>
  <p class="text-lg font-bold">{text} {icon} </p>
</div>