---
import HeroContent from './HeroContent.astro'
---

<script>
  import { Application } from '@splinetool/runtime'

  const canvas = document.getElementById('canvas3d') as HTMLCanvasElement
  const app = new Application(canvas)
  app.load('https://prod.spline.design/WH-CE8TKvoHB5Afo/scene.splinecode')
</script>

<section class="relative">
  <div class="w-full h-96 bg-gradient-to-r from-blue-400 to-blue-300">
    <!-- <canvas id="canvas3d" class="w-full h-full"></canvas> -->
  </div>
  <div class="absolute top-0 left-0 w-1/2">
    <HeroContent />
  </div>
</section>
