---
import SocialLink from '@components/common/SocialLink.astro'
import Button from '@components/common/Button.astro'
---

<article
  class="p-6 w-full sm:w-auto max-w-sm mx-auto bg-white sm:bg-red-100 md:bg-white flex flex-col justify-center items-center space-y-2 rounded-xl"
>
  <div class="py-4 px-3 max-w-sm mx-auto rounded-md flex flex-col justify-center items-center space-y-2 border-2 border-p1 bg-white">
    <h3 class="font-bold text-lg">Socials</h3>
    <nav class="flex flex-col">
      <SocialLink icon="mdi:github" text="Github" href="https://github.com/aech12" />
      <SocialLink icon="mdi:linkedin" text="Linkedin" href="https://www.linkedin.com/in/alexhowez/" />
      <SocialLink icon="ic:outline-discord" text="Discord: alex#3397" />
      <SocialLink icon="ic:baseline-email" text="aech-12@hotmail.com" href="mailto:aech-12@hotmail.com" />
    </nav>
  </div>
  <Button classStyle="w-full text-left"> Message Me</Button>
</article>
