---
// import { Icon } from 'astro-icon'
import Container from '@components/common/Container.astro'
import Title from '@components/common/Title.astro'
import SocialsCard from './SocialsCard.astro'
import FreelanceLinks from './FreelanceLinks.astro'
// const bgGradientStyle = 'bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%'
---

<section>
  <Container classStyle="md:px-6">
    <div class={`pb-6 md:p-12 md:mt-4 md:mb-32 lg:p-24 flex flex-col items-center gap-6 bg-red-100 md:bg-white`}>
      <div class="py-6 md:w-44 mx-auto">
        <Title level="h2">Reach Me</Title>
        <div class="h-1 w-full bg-gradient-to-r from-[#F19D1E] via-[#EB5D46] to-[#972324] bg-no-repeat"></div>
      </div>
      <div class="flex flex-col sm:flex-row space-y-4 md:space-x-4 md:space-y-0">
        <SocialsCard classStyle="px-6" />
        <FreelanceLinks classStyle="px-6" />
      </div>
    </div>
  </Container>
</section>

<!-- <section class="">
  <Container classStyle="md:px-6">
    <div class={`mt-24 mb-32 flex flex-col items-center gap-12 rounded-xl p-12 md:p-24 ${bgGradientStyle}`}>
      <h2 class="text-center text-3xl md:text-5xl">Reach Me</h2>
      <div class="flex flex-col md:flex-row space-y-4 md:space-x-4 md:space-y-0">
        <SocialLinks classStyle="px-6" />
        <FreelanceLinks classStyle="px-6" />
      </div>
    </div>
  </Container>
</section> -->
