---
import ListItem from './ListItem.astro'
import Button from '@components/common/Button.astro'
import Canvas from './Canvas.astro'
---

<section class="flex flex-col md:flex-row max-w-6xl m-auto">
  <div class="w-full p-4 flex items-center justify-center cursor-none">
    <article class="p-8 py-10 md:p-16 md:py-10 space-y-6">
      <p class="text-6xl font-bold">Services</p>
      <p class="text-2xl font-medium text-zinc-400">From custom requests, to full websites.</p>
      <div class="space-y-2">
        <ListItem text="Websites (ecommerce, blogs and more)" />
        <ListItem text="Apps, APIs, Google Apps Script" />
        <ListItem text="Wordpress-like integration on custom websites! (thanks to builder.io)" />
        <ListItem text="Custom integrations (contact me)" />
      </div>
      <div class="space-x-2 flex">
        <Button type="dark" href="#socials">Contact Me</Button>
        <Button type="light" href="#projects">Learn More</Button>
      </div>
    </article>
  </div>
  <div class="w-full bg-blue-400">
    <Canvas />
  </div>
</section>
