---
import HomeLayout from '../layouts/HomeLayout.astro'
import Hero from '@components/index/Hero/Hero.astro'
import Packages from '@components/index/Packages/Packages.astro'
import Services from '@components/index/Services/Services.astro'
import Features from '@components/index/Features/Features.astro'
import Projects from '@components/index/Projects/Projects.astro'
import Socials from '@components/index/Socials/Socials.astro'
---

<div class="font-sans">
  <HomeLayout>
    <Hero />
    <Packages />
    <Services />
    <Features />
    <Projects />
    <Socials />
  </HomeLayout>
</div>
