---
export interface Props {
  classStyle?: string
  type?: 'main' | 'secondary' | 'black' | 'white' |'invis'
  href?: string
  openInNewTab?: boolean
}
const { classStyle, type = 'main', href, openInNewTab = false } = Astro.props as Props
let buttonStyle = ''

switch (type) {
  case 'main':
    buttonStyle = 'bg-blue-500 hover:bg-blue-700 text-white'
    break
  case 'secondary':
    buttonStyle = 'bg-gray-500 hover:bg-gray-700 text-white'
    break
  case 'black':
    buttonStyle = 'bg-gray-500 hover:bg-gray-700 text-white'
    break
  case 'white':
    buttonStyle = 'bg-white text-gray-900 hover:bg-p1 hover:text-gray-800'
    break
    case 'invis':
    buttonStyle = 'text-white hober:bg-gray-200 hover:text-p1'
    break
}
---

{
  href ? (
    <button class={`${buttonStyle} font-bold py-2 px-4 rounded transition-all ${classStyle}`}>
      <slot />
    </button>
  ) : (
    <a
      {...(openInNewTab && { target: '_blank', rel: 'noreferrer noopener' })}
      class={`${buttonStyle} font-semibold py-2 px-4 rounded ${classStyle}`}
    >
      <slot />
    </a>
  )
}
