---
import { Icon } from 'astro-icon'

export interface Props {
  text: string
  icon?: string
  href?: string
  classStyle?: string
}
const { text, icon, href, classStyle } = Astro.props as Props
---

<style lang="css">
  [astro-icon] {
      fill: blue;
  }
</style>

<a href={href} target="_blank" rel="noreferrer noopener" class={`inline text-gray-600 hover:text-gray-600 cursor-pointer ${classStyle}`}
  ><Icon name={icon} width={20} height={20} class="inline" />{" "} {text}
</a>
