---
export interface Props {
  item: { title: string; text: string; img?: string; alt: string } | undefined
  img: string
}

const { item, img } = Astro.props as Props

import { Image } from '@astrojs/image/components'
// import { Image } from 'astro:assets'
---

{
  item ? (
    <li class="col-span-1 flex justify-center bg-white  divide-y divide-gray-200">
      <div class="flex flex-col w-72">
        <div class="bg-gray-400 flex justify-center items-center rounded-lg overflow-hidden">
          <Image src={img} width={300} height={300} alt={item.alt || ''} />
        </div>
        <div class="mt-2 py-4 rounded-lg overflow-hidden text-left">
          <h3 class="text-lg text-gray-900 font-bold">{item.title}</h3>
          <dl class="mt-1 flex-grow flex flex-col justify-between">
            <dd class="text-gray-600">{item.text}</dd>
          </dl>
        </div>
      </div>
    </li>
  ) : null
}
