<!-- ---
import { Application } from "@splinetool/runtime";

const canvas = document.getElementById("canvas3d") as HTMLCanvasElement;
const app = new Application(canvas);
app.load("https://prod.spline.design/WH-CE8TKvoHB5Afo/scene.splinecode");
---

<div class="container">
  <canvas id="canvas3d"></canvas>
</div> -->
