---
import { Icon } from 'astro-icon'
import Container from '@components/common/Container.astro'
---

<div class="p-4 py-2 bg-orange-400 text-white text-center">Site developed with Astro.</div>
<footer class="bg-zinc-900 text-white p-6 py-6 w-full">
  <Container>
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-96 text-center md:text-left">
        <p class="text-lg">Credits</p>
        <a
          href="https://sketchfab.com/3d-models/stylized-hand-painted-scene-30ddd6d6d8a6491d8b52975c19968099"
          target="_blank"
          rel="noreferrer noopener"
          class="inline text-sm text-gray-200 hover:text-gray-400"
          >Tree 3D model by Sander Vander Meiren <Icon
            name="ic:round-arrow-right"
            width={30}
            height={30}
            class="inline"
          /></a
        >
      </div>
      <div class="mx-auto flex items-end justify-end"></div>
    </div>
    <div class="py-6">
      <p class="text-center md:text-right text-sm">© 2023 Alex Howez</p>
    </div>
  </Container>
</footer>
